<h1><%= @student.to_s %></h1>
<% if @student.active == false %>
<div>This student is currently inactive.</div>
<% elsif @student.active == true %>
<div>This student is currently active.</div>
<% end %>